{% extends 'base.html' %}

{% block title %}config{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='hide_config.js') }}"></script>
{% endblock %}

{% block content %}
    <form id="config" method="post" action="{{ url_for('train.results') }}" onsubmit="hiddenForm()">
        <label>sample</label>
        <input type="text" name="sample"><br>

        <label>test size</label>
        <input type="text" name="test_size"><br>

        <label>kfold</label>
        <input type="text" name="kfold"><br>

        <label>algorithms</label>
        <select name="algorithms" size="11" multiple>
            {% for item in algorithms %}
                <option value="{{ loop.index-1 }}">{{ item }}</option>
            {% endfor %}
        </select>
        <br>

        <label>features</label>
        <select name="features" size="{{ features_size }}" multiple>
            {% for item in features %}
                <option value="{{ loop.index+features_start }}">{{ item }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="send">
    </form>
{% endblock %}

