{% extends 'base.html' %}

{% block title %}Classifiers{% endblock %}

{% block script %}
    <script src='{{ url_for("static", filename="content.js") }}'></script>
{% endblock %}

{% block content %}
    <form id='loading' method='post' action='{{ url_for("configuration.results") }}' onsubmit='hiddenForm()'>
        <p>Machine learning classifiers</p>
        <div class='checkbox'>
            {% for key in classifiers %}
                <div class='box'>
                    <input id='classifiers{{ loop.index0 }}' type='checkbox' name='classifiers_keys' value='{{ key }}'>
                    <label for='classifiers{{ loop.index0 }}'>{{ classifiers[key]['name'] }}</label>
                </div>
            {% endfor %}
        </div>

        <p>IP flows features</p>

        <div class='checkbox'>
            {% for name in features_names %}
                <div class='box'>
                    <input id='features_name{{ loop.index0 }}' type='checkbox' name='features_name' value='{{ loop.index0 }}'>
                    <label for='features_name{{ loop.index0 }}'>{{ name }}</label>
                </div>
            {% endfor %}
        </div>

        <br>
        <input type='submit' value='Next'>
    </form>
{% endblock %}
