@charset "utf-8";
*{margin: 0}

html {
    height: 100%;
}

/*body*/

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: dimgray;
    font-size: 20px;
    font-family: "Economica";
}

a {
    color: dimgray;
    text-decoration: none;
}

p {
    margin-bottom: 15px;
}

/*header*/

nav {
    background-color: gainsboro;
    border-bottom: thin solid dimgray;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    padding: 10px;
    list-style: none;
}

nav ul li a:hover {
    color: red;
    border-bottom: thin solid red;
}

/*main*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
}

main a:hover {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form select, form input {
    flex-shrink: 0;
    color: dimgray;
    text-align: center;
    font-size: 20px;
    font-family: "Economica";
    border: thin solid dimgray;
    background-color: gainsboro;
}

form select:hover {
    color: red;
    border: thin solid red;
}

form input:hover {
    color: red;
    border: thin solid red;
}

form input[type="checkbox"] {
    display: none;
}

form input[type="checkbox"]+label {
    cursor: pointer;
}

form input[type="checkbox"]+label:hover {
    color: red;
}

form input[type="checkbox"]:checked+label {
    border-bottom: thin solid red;
}

table {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;

    padding-bottom: 30px;
}

td {
   border-bottom: thin solid dimgray;
}

.choice {
    margin: 30px;
    padding: 0px 30px 0px 30px;
    border-left: thin solid dimgray;
    border-right: thin solid dimgray;
}

.choice:hover {
    border-color: red;
}

.checkbox {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    border: thin solid dimgray;
    background-color: gainsboro;
}

.box {
    padding: 10px;
    list-style-type: none;
}

.tables {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.selection {
    border: none;
    color: dimgray;
    background: none;
    font-size: 20px;
    font-family: "Economica";
}

.selection:hover {
    border: none;
    color: red;
    cursor: pointer;
}

.option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.warning {
    color: red;
}

.hidden {
    display: none;
}

#intrusions {
    cursor: pointer;
}

/*footer*/

footer {
    font-size: 15px;
    text-align: center;
}
