{% extends 'base.html' %}

{% block title %}Mitigate{% endblock%}

{% block content %}
    <p>Blacklist</p>

    <div class='tables'>
        {% for flow in blacklist %}
            <table>
                <tbody>
                    {% for feature in flow[:-1] %}
                        <tr>
                            <th>{{ text[loop.index-1] }}</th>
                            <td>{{ feature }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                       <th>Remove rule</th>
                       <td>
                            <form method='post' action='{{ url_for("dep.false_positive") }}'>
                                 <input class='choose' name='false_positive' type='submit' value='{{ flow[-1] }}'>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        <a href='{{ url_for("dep.detect") }}'>Back</a>
    </div>
{% endblock %}