<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>{% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet'>
    <link rel='stylesheet' href='{{ url_for("static", filename="style.css") }}'>
    {% block script %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='{{ url_for("home") }}'>Home</a></li>
                <li><a href='{{ url_for("about") }}'>About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Fernando Luiz Moro - 2018</p>
    </footer>
</body>
</html>
