{% extends 'base.html' %}

{% block title %}Realtime{% endblock%}

{% block script %}
    <script src='http://code.jquery.com/jquery-3.3.1.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
    <script src='{{ url_for("static", filename="notification.js") }}'></script>
{% endblock %}

{% block content %}
    <p>Number of intrusions detected: <a id='intrusions' class='choose' href='{{ url_for("mitigation.intrusions") }}'>{{ num_intrusions }}</a></p>
    <br>
    <a href='{{ url_for("detection.stop") }}'>Stop detection</a>
{% endblock %}
