{% extends 'base.html' %}

{% block title %}Realtime{% endblock%}

{% block script %}
    <script src='http://code.jquery.com/jquery-3.3.1.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
    <script src='{{ url_for("static", filename="notification.js") }}'></script>
{% endblock %}

{% block content %}
    <p>Number of intrusions detected: <span id='intrusions' onclick='window.location="{{ url_for("mitigation.intrusions") }}"'>{{ num_intrusions }}</span></p>

    <form method='post' action='{{ url_for("detection.stop") }}' novalidate>
        {{ form.stop() }}
    </form>
{% endblock %}
