{% extends 'base.html' %}

{% block title %}Detect{% endblock%}

{% block script %}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js'></script>
    <script src='{{ url_for("static", filename="socket.js") }}'></script>
{% endblock %}

{% block content %}
    <p>Anomalous flows detected: <span id='anomalies' onclick='window.location="{{ url_for("dep.mitigate") }}"'>{{ anomalous_flows }}</span></p>
{% endblock %}
