{% extends 'base.html' %}

{% block title %}Load{% endblock %}

{% block content %}
    {% if models %}
        {{ form.csrf_token() }}
        {{ form.model.label }}
        <br>
        <div class='tables'>
            {% for model in models %}
                <table>
                    <tbody>
                        <tr>
                           <th>Classifier</th>
                           <td>
                                <form method='post' action='{{ url_for("detection.realtime") }}'>
                                    <input name='model_pk' type='hidden' value='{{ model.id }}'>
                                    <input class='choose' type='submit' value='{{ model.classifier.name }}'>
                                </form>
                            </td>
                        </tr>
                        {% include 'setting/_rows.html' %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    {% else %}
        <p>No models available</p>
    {% endif %}
{% endblock %}
