{% extends 'base.html' %}

{% block title %}Content{% endblock %}

{% block script %}
    <script src='{{ url_for("static", filename="content.js") }}'></script>
{% endblock %}

{% block content %}
    <p>{{ ' '.join(function.split('_'))|capitalize }}</p>
    <br>
    <p>{{ relative_path }}</p>
    <br>
    {% if inner_dirs %}
        <p>Directories</p>
            <div class='checkbox'>
                {% for inner_dir in inner_dirs %}
                    <a class='box' href='{{ url_for("creation.content", function=function, directory=inner_dir) }}'>{{ inner_dir }}</a>
                {% endfor %}
            </div>
    {% else %}
        <p>No directories</p>
    {% endif %}
    <br>
    {% if form.files.choices %}
        <form method='post' novalidate>
            {{ form.csrf_token() }}
            {{ form.files.label }}
            <div class='checkbox'>
                {{ form.files(class='box') }}
            </div>
            {% for error in form.files.errors %}
                <span class='warning'>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.submit() }}
        </form>
    {% else %}
        <p>No files</p>
    {% endif %}
{% endblock %}
