{% extends 'base.html' %}

{% block title %}Parameter{% endblock %}

{% block script %}
    <script src='{{ url_for("static", filename="content.js") }}'></script>
{% endblock %}

{% block content %}
    <div id='loading' class='wrapper'>
        <p>Parameter</p>
        <p>Convert nfcapd to csv</p>
        <br>
        <form method='post' onsubmit='hiddenForm("Loading...")' novalidate>
            {{ form.csrf_token() }}
            {{ form.name.label }}
            {{ form.name() }}
            {% for error in form.name.errors %}
                <span class='warning'>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}
