{% extends 'base.html' %}

{% block title %}Parameter{% endblock %}

{% block script %}
    <script src='{{ url_for("static", filename="content.js") }}'></script>
{% endblock %}

{% block content %}
    <div id='loading'>        
        <p>Preprocessing flows</p>
        <br>
        <p>Directory: {{ directory }}</p>
        <br>
        <form method='post' onsubmit='hiddenForm("Loading...")' novalidate>
            {{ form.csrf_token() }}
            {{ form.sample.label }}
            {{ form.sample() }}
            {% for error in form.sample.errors %}
                <span class='warning'>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.threshold.label }}
            {{ form.threshold() }}
            {% for error in form.threshold.errors %}
                <span class='warning'>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.label.label }}
            {{ form.label() }}
            {% for error in form.label.errors %}
                <span class='warning'>{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}
